<!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <title>Ma première application web !</title>
            <link rel="stylesheet" href="style.css" />
        </head>
    <body>
        <h1>PUISSANCE 4 WEB GO</h1>
        <form action="/submit" method="POST">  
            <label for="prenom">Entrez votre prénom :</label>
            <input type="text" id="prenom" name="prenom" required />
            <button type="submit">Envoyer</button>
        </form>
        <p>{{.Message}}</p>
        <div class = "circle">non</div>
    </body>